@font-face {
  font-family: "Kraby Patty";
  src: url(../assets/Krabby\ Patty.ttf);
}
* {
  margin: 0px;
}
main {
  background-color: #051630;
}
html {
  font-family: "Kraby Patty";
  background-color: rgb(48, 48, 48);
  cursor: none;
  overflow: hidden;
  cursor: url("../img/cursor/cursorPtr.png"), auto;
}
a {
  color: green;
}
a:hover {
  cursor: url("../img/cursor/cursorHover.png"), auto;
}
/*Mobile*/
@media screen and (min-width: 320px) {
}

/*Tablette*/
@media screen and (min-width: 768px) {
}

/*PC*/
@media screen and (min-width: 1200px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
  .screen {
    background-color: #051630;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/title.png");
    height: 100%;
    position: relative; /* Ensure top positioning works */
    animation: going-down 3s ease-in forwards;
  }

  @keyframes going-down {
    0% {
      top: 0px;
    }
    100% {
      top: 400px;
    }
  }

  .credits {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controls {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .controlsPic {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
  }
  .controlsPicture {
    height: 60px;
  }
  .SoundButton {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 80px;
    cursor: url("../img/cursor/cursorHover.png"), auto;
  }
  .ReplayIntro {
    position: absolute;
    top: 100px;
    right: 10px;
    cursor: url("../img/cursor/cursorHover.png"), auto;
  }
}

.You {
  position: absolute;
  z-index: 103;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  margin-bottom: 100px;
  cursor: url("../img/cursor/cursorHover.png"), auto;
  animation: decollage 1s 3s ease-in forwards;
}
@keyframes decollage {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 40%;
  }
}
.projectile{
  position: absolute;
  height: 20px;
  z-index: 102;
  bottom: 40%;
  margin-bottom: 150px;
}