@font-face {
  font-family: "Kraby Patty";
  src: url(../assets/Krabby\ Patty.ttf);
}
* {
  margin: 0px;
}
main {
  background-color: #051630;
}
html {
  font-family: "Kraby Patty";
  background-color: rgb(48, 48, 48);
  cursor: none;
  overflow: hidden;
  cursor: url("../img/cursor/cursorPtr.png"), auto;
}
a {
  color: green;
}
a:hover {
  cursor: url("../img/cursor/cursorHover.png"), auto;
}
.screen {
  background-color: #051630;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/title.png");
  height: 100%;
  position: relative;
  animation: going-down 3s ease-in forwards;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes going-down {
  0% {
    top: 0px;
  }
  100% {
    top: 400px;
  }
}
.screen.going-up {
  animation: going-up 3s ease-in forwards;
}
@keyframes going-up {
  0% {
    top: 400px;
  }
  100% {
    top: 0px;
  }
}

.SoundButton {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 80px;
  cursor: url("../img/cursor/cursorHover.png"), auto;
}
.high-score {
  color: red;
}

/*Mobile*/
@media screen and (max-width: 768px) {
  .SoundButton {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
  }
  .Coded-by {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
  }
  .moneyAudio {
    display: none;
  }
  .credits {
    display: none;
  }
  .HS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  .controls {
    display: none;
  }
  .controlsPic {
    display: none;
  }
  .controlsPicture {
    display: none;
  }
  .container {
    width: 100vw;
    height: 100vh;
    /*???*/
  }
  h5 {
    display: none;
  }
  H2 {
    display: none;
  }
  .You {
    width: 20px;
  }
  .enemy {
    width: 15px;
  }
  .projectile {
    height: 7px;
  }
}

/*Tablette*/
@media screen and (max-width: 1024px) {
  .HS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  .score {
    color: rgb(255, 67, 67);
    font-family: fantasy;
    font-weight: lighter;
  }
  .credits {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .controls {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .controlsPic {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
  }
  .controlsPicture {
    height: 30px;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .You {
    width: 60px;
  }
  .enemy {
    width: 45px;
  }
  .projectile {
    height: 18px;
  }
}

/*PC*/
@media screen and (min-width: 1024px) {
  .credits {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .HS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  .score {
    color: rgb(255, 67, 67);
    font-family: fantasy;
    font-weight: lighter;
  }
  .controls {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h5 {
    font-weight: lighter;
  }
  .controlsPic {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
  }
  .controlsPicture {
    height: 60px;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
  .You {
    position: absolute;
    z-index: 103;
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1000px;
    margin-bottom: 50px;
    cursor: url("../img/cursor/cursorHover.png"), auto;
    animation: decollage 1s 3s ease-in forwards;
  }
  @keyframes decollage {
    0% {
      bottom: -1000px;
    }
    100% {
      bottom: 0px;
    }
  }
  .enemy {
    position: absolute;
    z-index: 103;
    width: 50px;
    top: -500px;
    margin-top: 50px;
  }
  .projectile {
    position: absolute;
    height: 20px;
    z-index: 102;
  }
}
