@font-face {
  font-family: "Kraby Patty";
  src: url(../assets/Krabby\ Patty.ttf);
}
* {
  margin: 0px;
  touch-action: manipulation;
}
main {
  background-color: #051630;
}
html {
  font-family: "Kraby Patty";
  background-color: rgb(48, 48, 48);
  cursor: none;
  overflow: hidden;
  cursor: url("../img/cursor/cursorPtr.png"), auto;
}
a {
  color: green;
}
a:hover {
  cursor: url("../img/cursor/cursorHover.png"), auto;
}
.screen {
  background-color: #051630;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/title.png");
  height: 100%;
  position: relative;
  animation: going-down 3s ease-in forwards;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes going-down {
  0% {
    top: 0px;
  }
  100% {
    top: 400px;
  }
}
@keyframes flikker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.screen.going-up {
  animation: going-up 3s ease-in forwards;
}
@keyframes going-up {
  0% {
    top: 400px;
  }
  100% {
    top: 0px;
  }
}

.SoundButton {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 80px;
  cursor: url("../img/cursor/cursorHover.png"), auto;
}
.high-score {
  color: red;
}
button {
  color: white;
  cursor: url("img/cursor/cursorHover.png"), auto;
}
.Facebook {
  background-color: rgb(74, 74, 242);
}
.X {
  background: rgb(50, 50, 50);
}
.social {
  position: fixed;
}
.You {
  position: absolute;
  z-index: 103;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1000px;
  margin-bottom: 50px;
  cursor: url("../img/cursor/cursorHover.png"), auto;
  animation: decollage 1s 3s ease-in forwards;
}
@keyframes decollage {
  0% {
    bottom: -1000px;
  }
  100% {
    bottom: 0px;
  }
}
.enemy {
  position: absolute;
  z-index: 103;
  top: -500px;
  margin-top: 50px;
}
.projectile {
  position: absolute;
  z-index: 102;
}

/* ////////////////////////////////////////////////////////////////////////////////////////Mobile */
@media screen and (max-width: 768px) {
  .SoundButton {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
  }
  .HS {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-bottom: 30px;
  }
  .score {
    color: rgb(255, 67, 67);
    font-family: fantasy;
    font-weight: lighter;
  }
  .controls,
  h5,
  h2,
  .controlsPic,
  .controlsPicture,
  .credits,
  .moneyAudio,
  button {
    display: none;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20fr 0fr 0fr;
  }
  .You {
    width: 60px;
  }
  .enemy {
    width: 45px;
  }
  .projectile {
    height: 18px;
  }
}

/*Tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  button {
    display: none;
  }
  .HS {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 6%;
    top: 40%;
    padding-bottom: 30px;
  }
  .score {
    color: rgb(255, 67, 67);
    font-family: fantasy;
    font-weight: lighter;
  }
  .credits {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Coded-by {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 40px;
  }
  .controls {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .controlsPic {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
  }
  .controlsPicture {
    height: 30px;
  }
  .You {
    width: 60px;
  }
  .enemy {
    width: 45px;
  }
  .projectile {
    height: 18px;
  }
}

/*PC*/
@media screen and (min-width: 1024px) {
  .credits {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .HS {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 40%;
    padding-bottom: 30px;
  }
  .score {
    color: rgb(255, 67, 67);
    font-family: fantasy;
    font-weight: lighter;
  }
  .controls {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Coded-by {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 40px;
  }
  h5 {
    font-weight: lighter;
  }
  .controlsPic {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
  }
  .controlsPicture {
    height: 60px;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
  .You {
    width: 70px;
  }
  .enemy {
    width: 50px;
  }
  .projectile {
    height: 20px;
  }
}
